* {
  text-align: center;
  line-height: 1.5;
  background-color: rgb(227, 218, 218);
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 750px;
  height: auto;
  border-radius: 25px;
}

li {
  text-align: left;
}

br {
  line-height: 1.5;
}

.item {
  background-color: darkgreen;
  color: antiquewhite;
  margin: 32px;
  padding: 8px;
  border: 5px;
  border-radius: 10px;
  border-color: olivedrab;
  display: block;
}

.pasta-alla-vodka {
  margin-right: 800px;
}

.buffalo-chicken-mac-and-cheese {
  margin-left: 800px;
}

.pork-and-peppers {
  margin-right: 800px;
}